<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doLast.doGRT"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:icon="@drawable/dogrt"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        
        <provider android:name=".database.DatabaseProvider"
            android:authorities="com.doLast.doGRT.database" >
        </provider>
        
        <provider android:name=".database.UserDatabaseProvider"
            android:authorities="com.doLast.doGRT.userdatabase" >
        </provider>

        <uses-library android:name="com.google.android.maps" />
        
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" 
            android:id = "@+id/home"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name=".GMapsActivity"
            >            
        </activity>

		<activity
		    android:name=".RoutesActivity"
		    android:uiOptions="splitActionBarWhenNarrow">		    
		</activity>
        
    </application>

</manifest>